* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.full-container {
  margin: auto;
  background-image: url("../img/backgroundnew.png");
  /*background-repeat: repeat;*/
  background-size: cover;
}
/*HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header-container {
  display: flex;
  width: 100%;
}
.logo-openskills {
  width: 100px;
  height: 115px;
  margin-left: 50px;
}
.title-openskills {
  color: #08acd4;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-heropage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-right: 50px;
}
.nav-heropage a {
  text-decoration: none;
  color: initial;
  border: 10px;
  margin: 15px;
  font-weight: 600;
}
.nav-heropage a:hover {
  border-width: 1px;
  color: #08acd4;
  border-bottom: solid;
}
/* MAIN CONTAINERMAIN CONTAINERMAIN CONTAINERMAIN CONTAINERMAIN CONTAINERMAIN CONTAINERMAIN CONTAINERMAIN CONTAINER*/
.main-container {
  background-image: url("../img/backgroundnew.png");
  /*background-repeat: repeat;*/
  background-size: cover;
}
.button-lead {
  background-size: 200% auto;
  margin: 10px;
  padding: 15px 45px;
  color: white;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(
    to right,
    #08acd4 0%,
    #ffdc5d 51%,
    #08acd4 100%
  );
}
.button-lead:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.titleh1-leadform {
  text-align: center;
}
.p-leadform {
  text-align: center;
  padding-bottom: 30px;
}
.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 100px;
}
.description-container li {
  margin-top: 13px;
}
.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}
.candidat-container {
  background-color: #ffdc5d;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  /*backdrop-filter: blur(6px);*/
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
}
.candidat-container:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.candidat-container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
.candidat-container img {
  width: 30px;
  height: 30px;
}
.professionnel-container {
  background-color: #08acd4;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  border-radius: 17px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 70px;
}
.professionnel-container:hover {
  border: 1px solid black;
  transform: scale(1.05);
}
.professionnel-container:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.professionnel-container img {
  width: 30px;
  height: 30px;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.form-container p {
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 10px 1px #08acd4;
  width: 100%;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
label {
  margin: 10px;
}
input[type="text"] {
  border-width: 0px;
  border-color: #f0faeb;
  width: 200px;
  height: 25px;
}
input[type="email"] {
  border-width: 0px;
  border-color: #f0faeb;
  width: 200px;
  height: 25px;
}
input[type="tel"] {
  border-width: 0px;
  border-color: #f0faeb;
  width: 130px;
  height: 25px;
}
input[type="date"] {
  border-width: 0px;
  border-color: #f0faeb;
  width: 150px;
  height: 25px;
}
input[type="submit"] {
  background-size: 200% auto;
  margin: 10px;
  padding: 15px 45px;
  color: white;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(
    to right,
    #08acd4 0%,
    #ffdc5d 51%,
    #08acd4 100%
  );
}
input[type="submit"]:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.flex-class {
  display: flex;
  flex-direction: column;
}
/* FOOTER CONTAINER FOOTER CONTAINER FOOTER CONTAINER FOOTER CONTAINER FOOTER CONTAINER FOOTER CONTAINER FOOTER CONTAINER FOOTER CONTAINER*/
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background-image: url("../img/background-footer.png");
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
  margin-top: 0px;
  box-shadow: 1px 0px 10px 5px grey;
  font-size: 12px;
}
.footer-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-col1 h3 {
  color: #08acd4;
}
.instagram-logo {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.linkedin-logo {
  width: 25px;
  height: 25px;
}
.footer-col2 {
  display: flex;
  flex-direction: column;
}
.footer-col2 img {
  width: 100px;
  height: 120px;
}
.footer-col3 {
  display: flex;
  flex-direction: column;
}
.footer-col3 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col4 {
  display: flex;
  flex-direction: column;
}
.footer-col4 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col5 {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-openskills {
    margin-left: 0px;
  }
  .nav-heropage {
    justify-content: center;
    margin-right: 0px;
  }
  .leadform-button {
    flex-wrap: wrap;
    text-align: center;
  }
  label {
    margin: 5px;
  }
  .professionnel-container {
    margin-left: 0px;
    margin-top: 30px;
  }
  .form-container {
    padding: 10px;
    padding-bottom: 150px;
  }
  .footer-container {
    width: 100%;
    margin-top: -70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-container p {
    font-size: 11px;
  }
}
