* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.full-container {
  margin: auto;
  background-color: #f0faeb;
}
/*HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header-container {
  display: flex;
  width: 100%;
}
.logo-openskills {
  width: 100px;
  height: 110px;
  margin-left: 50px;
}
.title-openskills {
  color: #08acd4;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-heropage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-right: 50px;
}
.nav-heropage a {
  text-decoration: none;
  color: initial;
  border: 10px;
  margin: 15px;
  font-weight: 600;
}
.nav-heropage a:hover {
  border-width: 1px;
  color: #08acd4;
  border-bottom: solid;
}
/* MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT */
.main-container {
  background-image: url("../img/wave-b.png");
  background-repeat: repeat;
}
.button-lead {
  background-size: 200% auto;
  margin: 10px;
  padding: 15px 45px;
  color: white;
  border-radius: 20px;
  border-width: 0px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(
    to right,
    #08acd4 0%,
    #ffdc5d 51%,
    #08acd4 100%
  );
}
.button-lead:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.button-lead i {
  margin-left: 10px;
}
.main-container strong.yellow {
  background-color: #ffdc5d;
}
.main-container strong.blue {
  background-color: #08acd4;
}
.main-container strong.red {
  background-color: #e31616;
}
.first-content {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}
.first-content img {
  width: 350px;
}
.first-content p {
  background-color: rgb(233, 224, 224);
  padding: 15px;
  border-radius: 30px 30px 30px 0px;
  font-weight: 800;
  height: 70px;
}
.second-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faqbubble {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  font-weight: 800;
  width: 800px;
  height: 50px;
  text-align: center;
  margin: 15px;
  transition: 0.4s;
  box-shadow: 7px 10px 1px #08acd4;
  overflow: hidden;
}
.extra-txt-faq5 {
  text-align: left;
  font-weight: 100;
  margin-left: 20px;
}
.extra-txt-faq4 {
  text-align: left;
  font-weight: 100;
  margin-left: 20px;
}
.extra-txt-faq3 {
  text-align: left;
  font-weight: 100;
  margin-left: 20px;
}
.extra-txt-faq2 {
  text-align: left;
  font-weight: 100;
  margin-left: 20px;
}
.extra-txt-faq1 {
  text-align: left;
  font-weight: 100;
  margin-left: 20px;
}
.first-faq:focus {
  height: 170px;
}
.second-faq:hover {
  height: 100px;
}
.third-faq:hover {
  height: 200px;
}
.fourth-faq:hover {
  height: 180px;
}
.fifth-faq:hover {
  height: 250px;
}
.third-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 100px;
}
.conseil-line {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background-image: url("../img/background-footer.png");
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 1px 0px 10px 5px grey;
  font-size: 12px;
}
.footer-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-col1 h3 {
  color: #08acd4;
}
.instagram-logo {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.linkedin-logo {
  width: 25px;
  height: 25px;
}
.footer-col2 {
  display: flex;
  flex-direction: column;
}
.footer-col2 img {
  width: 100px;
  height: 120px;
}
.footer-col3 {
  display: flex;
  flex-direction: column;
}
.footer-col3 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col4 {
  display: flex;
  flex-direction: column;
}
.footer-col4 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col5 {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-openskills {
    margin-left: 0px;
  }
  .main-container {
    background-size: auto;
  }
  .nav-heropage {
    justify-content: center;
    margin-right: 0px;
  }
  .first-content {
    width: 100%;
    padding-bottom: 80px;
    padding-right: 10px;
  }
  .first-content img {
    width: 200px;
    height: 100px;
  }
  .first-content p {
    text-align: center;
    height: 100%;
  }
  .second-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .faqbubble {
    width: 100%;
    padding-bottom: 5px;
  }
  .first-faq:hover {
    height: 280px;
  }
  .second-faq:hover {
    height: 180px;
  }
  .third-faq:hover {
    height: 330px;
  }
  .fourth-faq:hover {
    height: 290px;
  }
  .fifth-faq:hover {
    height: 450px;
  }
  .extra-txt-faq1 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq3 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq4 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq5 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .second-faq {
    height: 70px;
  }
  .third-faq {
    height: 70px;
  }
  .fifth-faq {
    height: 80px;
  }
  .conseil-line {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-openskills {
    margin-left: 0px;
  }
  .nav-heropage {
    justify-content: center;
    margin-right: 0px;
  }
  .first-content {
    width: 100%;
    padding-bottom: 80px;
    padding-right: 10px;
  }
  .first-content img {
    width: 200px;
    height: 170px;
  }
  .first-content p {
    text-align: center;
    height: 100%;
  }
  .second-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .faqbubble {
    width: 100%;
    padding-bottom: 5px;
  }
  .first-faq:hover {
    height: 180px;
  }
  .second-faq:hover {
    height: 100px;
  }
  .third-faq:hover {
    height: 200px;
  }
  .fourth-faq:hover {
    height: 190px;
  }
  .fifth-faq:hover {
    height: 250px;
  }
  .extra-txt-faq1 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq2 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq3 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq4 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .extra-txt-faq5 {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .second-faq {
    height: 50px;
  }
  .third-faq {
    height: 50px;
  }
  .fifth-faq {
    height: 50px;
  }
  .conseil-line {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
