* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.full-container {
  margin: auto;
  background-image: url("../img/backgroundnew.svg");
  /*background-repeat: repeat;*/
  background-size: cover;
}

/*HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header-container {
  display: flex;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #bee6f0fd 0%,
    #f7eabb 51%,
    #bee6f0fd 100%
  );
}
.logo-openskills {
  width: 100px;
  height: 110px;
  margin-left: 50px;
}
.title-openskills {
  color: #08acd4;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-heropage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-right: 50px;
}
.nav-heropage a {
  text-decoration: none;
  color: initial;
  border: 10px;
  margin: 15px;
  font-weight: 600;
}
.nav-heropage a:hover {
  border-width: 1px;
  color: #08acd4;
  border-bottom: solid;
}
/* HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE HERO PAGE */
.main-container {
  background-image: url("../img/backgroundnew.svg");
  /*background-repeat: repeat;*/
  background-size: cover;
  background-position: bottom 50px;
}
.hero-container {
  background-image: linear-gradient(
    to right,
    #bee6f0fd 0%,
    #f7eabb 51%,
    #bee6f0fd 100%
  );
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 5px 0px grey;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 100px;
}
.middle-hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle-hero-container h1 {
  font-weight: 900;
  text-align: center;
  font-size: 50px;
}
.middle-hero-container strong {
  color: #08acd4;
}
.middle-hero-container h3 {
  text-align: center;
}
.middle-hero-container a {
  text-decoration: none;
  color: #08acd4;
}
.emoji-sophie-heropage {
  width: 100px;
  position: absolute;
  margin-left: 300px;
}
.button-lead-offer {
  background-size: 200% auto;
  margin: 10px;
  padding: 15px 45px;
  color: white;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: 2px 2px 1px grey;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    169deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 139, 0.8211659663865546) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}
.button-lead-offer:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.button-lead {
  background-size: 200% auto;
  margin: 10px;
  padding: 15px 45px;
  color: white;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(
    to right,
    #08acd4 0%,
    #ffdc5d 51%,
    #08acd4 100%
  );
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}
.button-lead:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.button-lead i {
  margin-left: 10px;
}
.button-lead-offer i {
  margin-left: 10px;
}
.middle-hero-container-textimage {
  display: flex;
}
.google-logo-img {
  width: 100px;
  padding-left: 10px;
}
.google-avis-container {
  background-color: white;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.google-avis-container p {
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
}
.fa-star {
  color: #ffdc5d;
}
/* SOCIAL PROOFSSOCIAL PROOFSSOCIAL PROOFSSOCIAL PROOFSSOCIAL PROOFSSOCIAL PROOFSSOCIAL PROOFSSOCIAL PROOFS */
.social-proof {
  background-color: #f0faeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 3px 3px 20px 10px #9ddcec;
  width: 100%;
}
.social-proof-text {
  font-style: oblique;
  font-weight: 100;
  color: rgb(99, 98, 98);
}
.numbers-social-proof {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.numbers-social-proof h1 {
  font-weight: bold;
  font-size: 48px;
  margin: 25px;
}
.numbers-social-proof p {
  font-weight: bold;
  text-align: center;
}
.numbers-social-proof strong {
  color: #08acd4;
}
.carousel-social-proof {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  overflow: hidden; /* important */
}
.carousel-social-proof img {
  margin-left: 35px;
  margin-top: 20px;
}
.darwin-logo {
  width: 310px;
}
.marquee-rtl {
  display: inline-block; /* important */
  white-space: nowrap; /* important */
  animation: defilement-rtl 60s infinite linear; /* défilement */
  cursor: pointer;
}
@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(70%);
    transform: translate(70%);
  }
  100% {
    -webkit-transform: translate(-70%);
    transform: translate(-70%);
  }
}
/* MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT*/
.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
strong.yellow {
  background-color: #ffdc5d;
}
strong.blue {
  background-color: #82d4089b;
}
strong.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffdc5d;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.28);
}
.a4-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.a4-content img {
  width: 100px;
}
.a4-content-container:hover {
  box-shadow: 0 5px 35px 0px rgb(237, 209, 26);
}
.a4-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px;
  width: 270px;
  height: 500px;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.78);
  transition: 1s box-shadow;
}
.text-content img {
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
}
.bubble-first-content {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.bubble-first-content.active {
  transform: translateX(0%);
  opacity: 1;
}
.first-content {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-content h1 {
  font-size: 30px;
  text-align: center;
}
.first-content p {
  font-size: 21px;
  text-align: center;
}
.img-sophie-first-content {
  width: 200px;
}
.align-item-imgcontent-bubblefirstcontent {
  display: flex;
  margin-top: 50px;
}
.bubble-first-content p {
  background-color: rgba(0, 0, 0, 0.866);
  padding: 15px;
  font-size: 15px;
  border-radius: 20px 20px 20px 0px;
  font-weight: 0;
  color: white;
}
.second-content {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-content h2 {
  text-align: center;
  font-size: 30px;
}
.second-content p {
  text-align: center;
}
.second-content button {
  margin-top: 20px;
}
.bubble-third-content {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.bubble-third-content.active {
  transform: translateX(0%);
  opacity: 1;
}
.third-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.bubble-third-content p {
  background-color: rgba(0, 0, 0, 0.866);
  padding: 15px;
  font-size: 15px;
  border-radius: 20px 20px 0px 20px;
  font-weight: 0;
  color: white;
}
.third-content img {
  width: 240px;
  height: 240px;
}
.text-content ul {
  font-size: 21px;
}
.third-content h2 {
  text-align: center;
  font-size: 30px;
}
.third-content li {
  margin: 10px;
}
.fourth-content {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fourth-content p {
  font-size: 21px;
}
.title-fourth {
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
}
.blue-color {
  color: #08acd4;
}
.fifth-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
}
.fifth-content-img {
  width: 150px;
  height: 150px;
  position: absolute;
  margin-left: -280px;
  margin-top: 50px;
  rotate: -6deg;
}
.fifth-content p {
  font-size: 21px;
  margin-left: 50px;
}
.bubble-fifth-content p {
  background-color: rgba(0, 0, 0, 0.866);
  padding: 15px;
  font-size: 15px;
  border-radius: 30px 30px 30px 0px;
  font-weight: 0;
  color: white;
  margin-top: 50px;
}
.bubble-fifth-content {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.bubble-fifth-content.active {
  transform: translateX(0%);
  opacity: 1;
}
.sixth-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.sixth-content img {
  width: 240px;
  height: 240px;
}
.sixth-content h2 {
  font-size: 40px;
}
.sixth-content p {
  font-size: 21px;
}
.bubble-sixth-content {
  margin-right: 40px;
}
.bubble-sixth-content p {
  background-color: rgba(0, 0, 0, 0.866);
  padding: 15px;
  font-size: 15px;
  border-radius: 30px 30px 30px 0px;
  font-weight: 0;
  color: white;
}
.bubble-sixth-content {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}
.bubble-sixth-content.active {
  transform: translateX(0%);
  opacity: 1;
}
.seventh-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 50px;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  margin-top: 100px;
}
.block-slide img {
  width: 300px;
  height: 200px;
  border-radius: 30px 30px 30px 30px;
}
.block-side-4 img {
  width: 250px;
  border-radius: 30px 30px 30px 30px;
}
.text-block {
  margin-left: 50px;
  width: 380px;
}
.text-block i {
  color: #08acd4;
}
.quotte-avis {
  margin-bottom: 200px;
}
.quotte {
  width: 50px;
  height: 50px;
}
.block-slide {
  display: none;
}
.block-slide.active {
  display: flex;
}
.button-slide {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  padding-bottom: 20px;
}
.button-slide button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 50px 50px 50px 50px;
  color: #08acd4;
  border-width: 0px;
  margin-left: 20px;
}
.button-slide button:hover {
  background-color: #ffdc5d;
  cursor: pointer;
}
.eigth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 150px;
}
.eigth-content h3 {
  font-size: 40px;
}
.bubble-eigth-content {
  background-color: rgba(0, 0, 0, 0.866);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
  border-radius: 30px 30px 0px 30px;
  font-weight: 0;
  color: white;
}
.eigth-content img {
  width: 150px;
  position: absolute;
  margin-left: 430px;
  margin-top: 150px;
}
/* FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background-image: url("../img/background-footer.png");
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
  margin-top: -30px;
  box-shadow: 1px 0px 10px 5px grey;
  font-size: 15px;
}
.footer-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-col1 h3 {
  color: #08acd4;
}
.instagram-logo {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.linkedin-logo {
  width: 25px;
  height: 25px;
}
.footer-col2 {
  display: flex;
  flex-direction: column;
}
.footer-col2 img {
  width: 100px;
  height: 120px;
}
.footer-col3 {
  display: flex;
  flex-direction: column;
}
.footer-col3 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col4 {
  display: flex;
  flex-direction: column;
}
.footer-col4 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col5 {
  display: flex;
  flex-direction: column;
}
.linkforimg {
  font-size: 10px;
  color: grey;
  text-decoration: none;
  margin-top: 30px;
}
@media all and (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-openskills {
    margin-left: 0px;
  }
  .nav-heropage {
    justify-content: center;
    margin-right: 0px;
  }
  .emoji-sophie-heropage {
    display: none;
  }
  .middle-hero-container h1 {
    text-align: center;
  }
  .left-hero-container {
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .right-hero-container {
    margin-left: 0px;
    margin-top: 70px;
  }
  .a4-content {
    flex-direction: column;
  }
  .social-proof {
    margin-left: 0px;
    margin-right: 0px;
  }
  .numbers-social-proof h1 {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .carousel-social-proof {
    height: 150px;
  }
  .first-content {
    width: 100%;
    text-align: center;
  }
  .bubble-first-content {
    width: 200px;
  }
  .social-proof-text {
    text-align: center;
  }
  .align-item-imgcontent-bubblefirstcontent {
    flex-direction: column;
  }
  .second-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .third-content {
    width: 100%;
    text-align: center;
    padding-top: 0px;
  }
  .third-content img {
    width: 150px;
    height: 150px;
    margin-top: 120px;
  }
  .bubble-third-content {
    width: 200px;
  }
  .fourth-content {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .fifth-content {
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fifth-content p {
    margin-left: 0;
  }
  .fifth-content-img {
    width: 150px;
    height: 140px;
    margin-top: 100px;
  }
  .bubble-fifth-content {
    width: 200px;
  }
  .sixth-content {
    width: 100%;
    margin-top: 0px;
    flex-direction: column-reverse;
    padding-bottom: 100px;
  }
  .sixth-content img {
    width: 250px;
    height: 240px;
    margin-top: -20px;
    margin-left: 40px;
  }
  .bubble-sixth-content {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .bubble-sixth-content p {
    border-radius: 30px 30px 0px 30px;
  }
  .bubble-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .text-content {
    text-align: center;
  }
  .text-content li {
    list-style-type: none;
  }
  .text-content ul {
    padding: 0px;
  }
  .seventh-content {
    width: 100%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .quotte-avis {
    margin-bottom: 20px;
  }
  .block-slide {
    flex-wrap: wrap;
  }
  .block-slide img {
    width: 100%;
  }
  .bubble-eigth-content p {
    font-size: 21px;
  }
  .eigth-content img {
    margin-left: 240px;
    width: 100px;
  }
  .text-block {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .hero-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-openskills {
    margin-left: 0px;
  }
  .nav-heropage {
    justify-content: center;
    margin-right: 0px;
  }
  .emoji-1 {
    margin-top: -80px;
    margin-left: -10px;
  }
  .emoji-2 {
    margin-left: -10px;
  }
  .emoji-3 {
    margin-left: 190px;
  }
  .emoji-4 {
    margin-left: -0px;
  }
  .tooltip2 {
    margin-left: 30px;
    margin-top: -100px;
  }
  .tooltip3 {
    margin-left: 30px;
    margin-top: -100px;
  }
  .tooltip4 {
    margin-left: -80px;
    margin-top: -20px;
  }
  .tooltip5 {
    margin-left: 80px;
    margin-top: -40px;
  }
  .middle-hero-container h1 {
    text-align: center;
  }
  .left-hero-container {
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .right-hero-container {
    margin-left: 0px;
    margin-top: 70px;
  }
  .main-container {
    background-size: auto;
  }
  .social-proof {
    margin-left: 0px;
    margin-right: 0px;
  }
  .numbers-social-proof h1 {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 10px;
  }
  .carousel-social-proof {
    height: 150px;
  }
  .first-content {
    width: 100%;
    text-align: center;
  }
  .first-content img {
    width: 100px;
  }
  .bubble-first-content {
    width: 200px;
  }
  .second-content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .third-content {
    width: 100%;
    text-align: center;
  }
  .third-content img {
    width: 150px;
    height: 150px;
    margin-top: 120px;
  }
  .bubble-third-content {
    width: 200px;
  }
  .fourth-content {
    width: 100%;
  }
  .fifth-content {
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fifth-content-img {
    width: 150px;
    height: 140px;
    margin-left: -170px;
    margin-top: 0px;
  }
  .bubble-fifth-content {
    width: 200px;
  }
  .sixth-content {
    width: 100%;
    margin-top: 0px;
    flex-direction: column-reverse;
    padding-bottom: 50px;
  }
  .sixth-content img {
    width: 250px;
    height: 240px;
    margin-top: -20px;
  }
  .bubble-sixth-content {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .bubble-sixth-content p {
    border-radius: 30px 30px 0px 30px;
  }
  .bubble-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-content {
    text-align: center;
  }
  .text-content li {
    list-style-type: none;
  }
  .text-content ul {
    padding: 0px;
  }
  .seventh-content {
    width: 100%;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  .quotte-avis {
    margin-bottom: 20px;
  }
  .block-slide {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .block-slide img {
    width: 300px;
  }
  .text-block {
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
  .eigth-content img {
    margin-left: 0px;
  }
  .eigth-content img {
    margin-left: 280px;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
