* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.full-container {
  margin: auto;
  background-image: url("../img/backgroundnew.png");
  /*background-repeat: repeat;*/
  background-size: cover;
}
/*HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
.header-container {
  display: flex;
  width: 100%;
}
.logo-openskills {
  width: 100px;
  height: 115px;
  margin-left: 50px;
}
.title-openskills {
  color: #08acd4;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-heropage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-right: 50px;
}
.nav-heropage a {
  text-decoration: none;
  color: initial;
  border: 10px;
  margin: 15px;
  font-weight: 600;
}
.nav-heropage a:hover {
  border-width: 1px;
  color: #08acd4;
  border-bottom: solid;
}
/* MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT  MAIN CONTENT */
.main-container {
  background-image: url("../img/backgroundnew.png");
  /*background-repeat: repeat;*/
  background-size: cover;
}
.button-lead {
  background-size: 200% auto;
  margin: 10px;
  padding: 15px 45px;
  color: white;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(
    to right,
    #08acd4 0%,
    #ffdc5d 51%,
    #08acd4 100%
  );
}
.button-lead:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.button-lead i {
  margin-left: 10px;
}
.main-container strong.yellow {
  background-color: #ffdc5d;
}
.main-container strong.blue {
  background-color: #30dbe7;
}
.main-container strong.beige {
  background: bisque;
}
.title-h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offre-container {
  background-color: #ffdc5d;
  background-image: linear-gradient(160deg, #ffdc5d 16%, #08acd4 100%);
  border-radius: 10px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.78);
}
.emoji-txt {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.first-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 104%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  padding-bottom: 20px;
}
.second-container {
  display: flex;
  padding-bottom: 50px;
  margin-top: 30px;
}
.middle-container {
  margin-left: 30px;
  margin-right: 30px;
}
.left-container {
  margin-left: 30px;
}
.left-container h2 {
  margin-top: -10px;
}
.button-postuler {
  background-color: #ffdc5d;
  height: 30px;
  border-radius: 10px;
}
.line-black {
  background-color: black;
  height: 2px;
}
.small-one {
  width: 200px;
}
.vertical-one {
  width: 2px;
  height: 920px;
  margin-top: 10px;
}
.long-one {
  margin-right: 20px;
}
.logo-openskills-left-container {
  width: 100px;
  height: 120px;
}
.social-media-left-container img {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.first-paragraph {
  text-align: center;
  line-height: 25px;
}
.bold-title-offre {
  font-weight: bolder;
}
.third-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
  margin-top: 150px;
}
.third-container-txt-sophie {
  margin-left: 50px;
}
.conseil-line {
  display: flex;
  justify-content: center;
}
.conseil-line img {
  width: 80px;
  margin-left: 30px;
}
.tooltip-general {
  background-color: rgb(244, 251, 253);
  padding: 13px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  text-align: center;
}
.sophie-heropage2 {
  width: 220px;
  height: 220px;
}
.emoji-1 {
  width: 30px;
  height: 30px;
  margin-top: -80px;
  margin-right: 90px;
  cursor: pointer;
}
.tooltip {
  display: none;
  margin-top: -100px;
  margin-left: 20px;
}
.emoji-1:hover + .tooltip {
  cursor: pointer;
  display: block;
}
.emoji-2 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.tooltip2 {
  display: none;
  margin-top: -80px;
  margin-left: -180px;
  position: absolute;
}
.emoji-2:hover + .tooltip2 {
  cursor: pointer;
  display: block;
}
.emoji-3 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.tooltip3 {
  display: none;
  margin-top: -60px;
  margin-left: 240px;
}
.emoji-3:hover + .tooltip3 {
  cursor: pointer;
  display: block;
}
.emoji-4 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.tooltip4 {
  display: none;
  margin-top: -50px;
  margin-left: -400px;
  position: absolute;
}
.emoji-4:hover + .tooltip4 {
  cursor: pointer;
  display: block;
}
.emoji-5 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.tooltip5 {
  display: none;
  margin-top: -80px;
  margin-left: 400px;
  position: absolute;
}
.emoji-5:hover + .tooltip5 {
  cursor: pointer;
  display: block;
}
.right-hero-container {
  display: flex;
  margin-left: 100px;
}
.first-line {
  position: absolute;
  margin-top: -50px;
  margin-left: 130px;
}
.second-line {
  position: absolute;
  margin-left: 25px;
}
.emoji-3 {
  margin-left: 170px;
}
.third-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.form-container p {
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 7px 10px 1px #08acd4;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 50px;
}
label {
  margin: 10px;
}
input[type="text"] {
  border-width: 0px;
  border-color: #f0faeb;
  width: 100px;
  height: 25px;
}
input[type="email"] {
  border-width: 0px;
  border-color: #f0faeb;
  width: 200px;
  height: 25px;
}
input[type="tel"] {
  border-width: 0px;
  border-color: #f0faeb;
  width: 130px;
  height: 25px;
}
input[type="submit"] {
  background-size: 200% auto;
  margin: 10px;
  padding: 15px 45px;
  color: white;
  border-radius: 15px;
  border-width: 0px;
  box-shadow: 2px 2px 1px grey;
  background-image: linear-gradient(
    to right,
    #08acd4 0%,
    #ffdc5d 51%,
    #08acd4 100%
  );
}
input[type="submit"]:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
/* FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT  FOOTER CONTENT */
.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin-top: -80px;
  background-image: url("../img/background-footer.png");
  background-size: cover;
  border-radius: 30px 30px 0px 0px;
  box-shadow: 1px 0px 10px 5px grey;
  font-size: 12px;
}
.footer-col1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-col1 h3 {
  color: #08acd4;
}
.instagram-logo {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.linkedin-logo {
  width: 25px;
  height: 25px;
}
.footer-col2 {
  display: flex;
  flex-direction: column;
}
.footer-col2 img {
  width: 100px;
  height: 120px;
}
.footer-col3 {
  display: flex;
  flex-direction: column;
}
.footer-col3 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col4 {
  display: flex;
  flex-direction: column;
}
.footer-col4 a {
  text-decoration: none;
  color: initial;
  margin-top: 8px;
}
.footer-col5 {
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 768px) {
  .main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-openskills {
    margin-left: 0px;
  }
  .nav-heropage {
    justify-content: center;
    margin-right: 0px;
  }
  .second-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-container {
    margin-left: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .vertical-one {
    display: none;
  }
  .small-one {
    margin-left: 40px;
  }
  .third-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .third-container-txt-sophie {
    margin-left: 0px;
    text-align: center;
  }
  .offre-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .conseil-line {
    flex-wrap: wrap;
    background-repeat: repeat;
    background-size: contain;
    padding-right: 10px;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .conseil-line img {
    width: 80px;
    margin-left: 30px;
  }
  .right-hero-container {
    margin-left: 0px;
  }
  .tooltip1 {
    display: none;
    margin-top: -100px;
    margin-left: 20px;
  }
  .tooltip2 {
    display: none;
    margin-top: -80px;
    margin-left: 50px;
    position: absolute;
  }
  .tooltip3 {
    display: none;
    margin-top: -100px;
    margin-left: -10px;
  }
  .tooltip4 {
    display: none;
    margin-top: -50px;
    margin-left: -100px;
    position: absolute;
  }
  .tooltip5 {
    display: none;
    margin-top: -80px;
    margin-left: 100px;
    position: absolute;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo-openskills {
    margin-left: 0px;
  }
  .nav-heropage {
    justify-content: center;
    margin-right: 0px;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
